echo Executing Server Config...
lanmode 0
rcon_password 12313123123123
maxplayers 500
port 7777
hostname Next Generation Roleplay (0.3DL)

# Gamemodes & Scripts
gamemode0 NGRP 1
filterscripts editor-emmet FurnitureSystem Gang ls_apartments1 ls_beachside PlayerExteriors PlayerInteriors Server yom_buttons sapd sfa

# Plugins (Đã gộp cả đồ của bạn và JSON)
plugins crashdetect mysql sscanf gvar irc streamer Whirlpool discord-connector

# Custom Configs (Discord)
discord_bot_token 561311a1sa1

# Server Settings
announce 1
chatlogging 0
weburl www.sa-mp.com
language Vietnamese
logtimeformat [%H:%M:%S]

# Network & Sync
onfoot_rate 80
incar_rate 80
weapon_rate 40
stream_distance 180.0
stream_rate 1000
maxnpc 10
sleep 5

# 0.3.DL Artwork (BẮT BUỘC BẬT)
useartwork 1